.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 10%;
    justify-content: space-between;
    background-color: rgb(243, 135, 243);
}

.headerSearchBar {
    width: 50%;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
}

.headerLinkItem {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}