@media screen and (max-width: 600px) {
    .footerContainer {
        padding: 5% 12%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
    .footerContainer {
        padding: 5% 14%;
    }
}

@media screen and (min-width: 1200px) {
    .footerContainer {
        padding: 5% 15%;
    }
}


.footerContainer {
    background-color: #62D2A2;
}

.footerColleyImg {
    width: 150px;
    height: auto;
}

.logoAndSocialMediaContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerSocialMediaContainer {
    display: flex;
    flex-direction: row;
    width: 100px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.footerLinksColumnContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footerColumnHeader {
    color: #FCFBFA;
}

.footerColumnContainer {
    display: flex;
    flex-direction: column;
}

.bottomLinksText {
    text-decoration: none;
    color: #FCFBFA;
}