.footer {
    /* padding: vertical horizontal */
    padding: 5% 15%;
    background-color: #62D2A2;
}

.footerColleyImg {
    width: 150px;
    height: auto;
}

.logoAndSocialMediaContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerLinksColumnContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footerColumnHeader {
    color: #FCFBFA;
}

.footerSocialMediaContainer {
    display: flex;
    flex-direction: row;
    width: 100px;
    align-items: center;
    justify-content: space-between;
}

.footerColumnContainer {
    display: flex;
    flex-direction: column;
}

.bottomLinksText {
    text-decoration: none;
    color: #FCFBFA;
}