.collegePageContainer {
    display: flex;
    flex-direction: column;
}

.collegeInfoContainer {
    height: 50vh;
    border: solid;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background-image: url('./360_F_280323674_dCBpaSNTIK19xrftWJ29wLk5WUq5TUkw.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: inset 20px black ;
}

.reviewInfoContainer {
    display: flex;
    flex-direction: row;
}

.reviewStatsLeftContainer {
    width: 30%;
    border: solid;
    background-color: lightcoral;
}

.applicantReviewsRightContainer {
    width: 70%;
    border: solid;
    padding: 15px;
    background-color: lightgreen;
}