.collegePageContainer {
    display: flex;
    flex-direction: column;
}

.collegeInfoContainer {
    height: 50vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background-image: url('./DefaultCollege.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.95) 0px -50px 48px -16px inset;
}

.collegeName {
    color: white;
    margin-bottom: -16px;
}

.reviewInfoContainer {
    display: flex;
    flex-direction: row;
}

.reviewStatsLeftContainer {
    width: 30%;
    border: solid;
    background-color: lightcoral;
}

.applicantReviewsRightContainer {
    width: 70%;
    border: solid;
    padding: 15px;
    background-color: lightgreen;
}