.landingPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.landingPageSearchBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-image: url('./images/collegeLandingPage\ 2.jpg');
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;

    /* background-image: url('./images/collegeLandingPage\ 10.04.28\ PM.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh; */
}

.landingPageSearchBarBackgroundImage {
    position: relative;
    text-align: center;
    width: 100%;
    height: 55vh;
    object-fit: cover;
    /* color: white; */
}

.landingPageSearchBarHeader {
    font-size: 30px;
    font-weight: 600;
    top: 35%;
    color: white;
    position: absolute;
}

.landingPageSearchBar {
  width: 50%;
  border: 1px solid grey;
  padding: 15px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  color: #9DBFAF;
  font-size: 15px;
  margin-top: 30px;
  position: absolute;
}

.featuredCollegesGreyRowContainer {
    background-color: #ebe1e1;
    width: 100%;
    height: 12vh;
    /* opacity: 70%; */
    align-items: center;
}

.featuredCollegesGreyRowHeader {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    opacity: 40%;
    text-transform: uppercase;
}

.featuredCollegesGreyRowCollegesContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.featuredCollegesLogo {
    width: 6%;
    height: auto;
    /* height: 40%; */
    object-fit: contain;
}

.landingPageFeatureGraphicsHeadline {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 8vh;
    padding: 0px 20px;
    border-top: 0.25px solid black;
    border-bottom: 0.25px solid black;
}

.landingPageFeatureGraphicsHeadline > h1 {
    font-size: 25px;
    font-weight: 600;
}

.landingPageFeatureGraphicsContainer {
    margin-bottom: 18vh;
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.featureGraphicContainer {
    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* border: 0.25px solid black; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.featureGraphicContainer > h1 {
    font-size: 24px;
    font-weight: 600;
}

.featureGraphicContainer > p {
    color: #767676;
}

.featureGraphicContainer > img {
    width: 100px;
}

.scrollable_college_bar_landing_page {
    display: flex;
    flex-direction: row;
    background-color: white;
}


.scrollable_college_image {
    display: flex;
    width: 100px;
    /* height: 40px; */
}


.landingPageGraphicsContainer {
    display: flex;
    flex-direction: column;
    /* padding: vertical horizontal */
    padding: 5% 15%;
}

.landingPageGraphicContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.landingPageGraphicTextContainer{}

.landingPageGraphicTextHeader {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.landingPageGraphicText {
    font-size: 15px;
}


.landingPageGraphics {
    display: flex;
    width: 250px;
    height: auto;
}